@media(max-width:1140px) {
    .intro{
        height: 600px;
    }
}
@media(max-width:1000px) {
    .intro{
        height: 550px;
    }
}
@media(max-width:950px) {
    .intro{
        height: 500px;
    }
}
@media(max-width:900px) {
    .intro{
        height: 450px;
    }
}
@media(max-width:850px) {
    .intro{
        height: 400px;
    }
}
@media(max-width:800px) {
    .intro{
        height: 350px;
    }
}
